@charset "utf-8";
/* CSS Document */

/* Grid area */

.grid {
	margin: 0 auto;
  	width: 90%;
  	max-width: 1600px;
	display: grid;
	grid-template-columns: [content-start] 1fr [content-end];
	grid-template-rows: auto [content-start] auto [content-end];
	grid-gap: 2em;
}

@media (min-width: 640px) {
	.grid {
		grid-template-columns: 1fr [content-start] 3fr [content-end];
	}
	
	header {
	grid-column: 1/4;
	background-color: #f5f5f5;
	}
	
	aside {
	grid-column:1;
	grid-row:2;
	background-color: #f7f7f7;
	padding:1em 1em 2em 2em;
	}

	article {
	grid-column: content-start;
	grid-row: content-start;
	background-color: #f7f7f7;
	padding:1em 1em 2em 2em;
	}

	footer {
	grid-column:1/4;
	grid-row: 3;
	background-color: #f6f6f6;
	min-height: 100px;
	}
}


/* fonts */

@media (min-width: 640px) {

header h1 {
	font-family:'Roboto', sans-serif;
	color: #00e;
	margin: 1em;
    font-size: 1em;
}

aside h3 {font-family:'Roboto', sans-serif;
		font-size: 1.1em;
		color: #5786D9;
		text-decoration: underline;}

aside p {font-family: 'Noto Serif', serif;
		 color: #000;
		 font-size: 12px;}

article p {font-family: 'Noto Serif', serif;
			line-height: 2em;}

article h2 {font-family: 'Roboto', sans-serif;
			color: green;
			text-decoration: underline;
			font-size: 1.2em;
		}

.quote {
	font-family:'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	padding:3em;
	text-align: center;
}

}

header h1 {
	font-family:'Roboto', sans-serif;
	color: #00e;
	margin: 1em 2em 2em 2em;
    font-size: 2em;
}

aside h3 {font-family:'Roboto', sans-serif;
		font-size: 1.1em;
		color: #5786D9;
		text-decoration: underline;}

aside p {font-family: 'Noto Serif', serif;
		 color: #000;
		 font-size: 12px;}

article p {font-family: 'Noto Serif', serif;
			line-height: 2em;}

article h2 {font-family: 'Roboto', sans-serif;
			color: green;
			text-decoration: underline;
			font-size: 1.2em;
		}

.quote {
	font-family:'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	padding:3em;
	text-align: center;
}

h1 h2 h3 h4 {font-family: 'Roboto', sans-serif;}

